@import url('https://fonts.googleapis.com/css2?family=Share:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    text-align: center;
    margin: 0px auto 0px auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-top {
    background-color: rgb(63, 63, 63);
    color: white;
    height: 720px;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Share', sans-serif;
    font-size: 96px;
}

.right-top {
    height: 720px;
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    grid-template-areas:
        "dark-purple" "purple-rouge"
        "light-purple" "damp-purple";
}

.dark-purple {
    background-color: #5D44AB;
}

.purple-rouge {
    background-color: #7654B4;
}

.light-purple {
    background-color: #967ECB;
}

.damp-purple {
    background-color: #0E002C;
}