@import url('https://fonts.googleapis.com/css2?family=Share:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    text-align: center;
    margin: 0px auto 0px auto;
    font-family: 'Share', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-top {
    background-color: #2E2D31;
    color: white;
    height: 720px;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
}

.right-top {
    height: 720px;
    width: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "dark-purple" "purple-rouge"
        "light-purple" "damp-purple";
}

.right-top img {
    padding: 90px;
}

.dark-purple {
    background-color: #5D44AB;
}

.purple-rouge {
    background-color: #7654B4;
}

.light-purple {
    background-color: #967ECB;
}

.damp-purple {
    background-color: #0E002C;
}

main {
    max-width: 1440px;
}

.middle-top {
    position: relative;
}

.spaceman {
    width: 1440px;
    height: 850px;
    display: block;
}

.middle-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.middle-group {
    width: 720px;
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.middle-group img {
    padding: 90px;
}

.middle-rouge {
    background-color: #7654B4;
    width: 360px;
    height: 360px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.middle-dark {
    background-color: #5D44AB;
    width: 360px;
    height: 360px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.middle-damp {
    background-color: #0E002C;
    width: 720px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    font-weight: 400;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.middle-black {
    background-color: #2E2D31;
    width: 720px;
    height: 720px;
}

.middle-black img {
    padding: 170px;
}

footer {
    width: 1440px;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #05010B;
    height: 690px;
}

.left-part {
    color: white;
    width: 45%;
    padding-left: 50px;
    text-align: left;
}

.contact {
    font-size: 128px;
    font-weight: 700;
}

.description {
    font-size: 32px;
    font-weight: 400;
}

.mail {
    width: 580px;
    height: 110px;
    border-radius: 7px;
    background-color: #D9D9D9;
}

.message {
    width: 580px;
    height: 250px;
    border-radius: 7px;
    background-color: #D9D9D9;
}

.submit {
    width: 285px;
    height: 110px;
    background-color: #967ECB;
    margin-left: 293px;
    border-radius: 7px;
    font-size: 32px;
    font-weight: 400;
}

.right-part {
    color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
}

.fotter-bottom {
    background-color: #654C8C;
    color: black;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
    padding: 110px;
    margin-bottom: 20px;
}

.bottom-line {
    display: flex;
    gap: 170px;
}

.last-text {
    font-size: 36px;
    font-weight: 700;
    text-align: left;
    width: 1000px
}

.space-place {
    font-size: 24px;
    font-weight: 400;
}

.space-text {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}